

.CreateGroupPage-container{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.informCodeContent>h3{
    font-size: 30px;
}

.CreateGroupComplete{
    padding: 10px;
}

.groupCode{
    text-align: end;
}


.informCodeContent>p{
    color: #555;
    font-size: 15px;
}

.CreateGroupComplete{
    color: #0045FF;
    font-size: 20px;
    font-weight: bold;
}