.container2 {
    background: linear-gradient(
        125deg,
        #e2faff 0%,
        #b0d5ff 100%
      );      
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: max-content;
    transition: transform 0.2s;
    width: 66%;
    height: 44%;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.container2:hover {
    transform: scale(1.01);
}

.header2 {
    padding-left: 10%;
    text-align: left;
    margin-top: 4%;
}

.title2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;

}

.content2 {
    font-size: 1.2rem;
}

.image_box2{
    width: 90%;
    display: flex;
    justify-content: right;
}

.short_box_image_box2 {
    width: 40%;
    height: 80%;
    aspect-ratio: 1;
}

.short_box_image2 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1200px) {
    .container2 {
        background: linear-gradient(
            125deg,
            #e2faff 0%,
            #b0d5ff 100%
          );      
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: max-content;
        transition: transform 0.2s;
        width: 100%;
        height: 44%;    
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
}

@media screen and (max-width: 868px) {
    .container2 {
        width: 100%;
        height: max-content;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
}

@media screen and (max-width: 650px) {
    .container2 {
        width: 100%;
        height: max-content;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
}
